# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore IDE caches
.vscode

# Ignore Python cache
__pycache__/

# Ignore model checkpoints
*.pth
*.pt

# Ignore logs, outputs, & datasets
logs/
all_tangrams/
images/
