# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore IDE caches
.vscode

# ignore Python cache
__pycache__/

# Ignore logs, outputs, & datasets
logs/
all_tangrams/
concrete_images/
